#content{
  display: flex;
  flex-flow: row wrap;
  width: 1200px;
  height: 750px;
  margin: 20px auto;
  background-color: gray;
  justify-content: space-between;
  align-items: space-between;
  align-content: space-between;
  border: 4px solid black;

}



#todo-list-space{
  display: flex;
  flex-flow: row wrap;
  width: 800px;
  height: 700px;
  /*margin: 10px auto;*/
  background-color: gray;
  justify-content: space-between;
  align-items: space-between;
  align-content: space-between;
  border: 2px solid black;
}

#side-bar{
  display: flex;
  flex-flow: row wrap;
  width: 350px;
  height: 700px;
  margin: 5x auto;
  background-color: lightgray;
  justify-content: space-between;
  align-items: space-between;
  align-content: space-between;
  border: 2px solid black;

}

.project-entry{
  display: flex;
  width: 330px;
  height: 50px;
  margin: 5px auto;
  background-color: lightgreen;
  justify-content: space-between;
  align-items: space-between;
  align-content: space-between;
  border: 2px solid black;

}
.project-entry-highlight{
  display: flex;
  width: 330px;
  height: 50px;
  margin: 5px auto;
  background-color: lightskyblue;
  justify-content: space-between;
  align-items: space-between;
  align-content: space-between;
  border: 3px solid black;

}

.item-entry{
  display: flex;
  width: 800px;
  height: 50px;
  margin: 5px auto;
  background-color: lightblue;
  justify-content: space-between;
  align-items: space-between;
  align-content: space-between;
  border: 2px solid black;

}
